/*подключаем шрифт Algerian*/
@font-face {
	font-family: 'Algerian';
	src: url('../fonts/ALGER.eot');
	src: local('☺'), url('../fonts/ALGER.woff') format('woff'), url('fonts/ALGER.ttf') format('truetype'), url('fonts/ALGER.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Главный контейнер игры */ 
#igra {
	background: url(../images/gameFieldBackground.jpg) no-repeat;
	background-size: 800px 600px;
	height: 600px;
	width: 800px;
	margin: 0 auto;
	position: relative;
	border: 2px solid black;
	border-radius: 20px;
	overflow: hidden;
	user-select: none;
}
/*=============================
      Стартовая страница
=============================*/
/*стартовый блок*/
#start-block {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
	background: url(../images/startfon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	position: absolute;
	top: 0px;
	user-select: none;
}
/*========================
   Блок анимации египтянина
=========================*/

/*анимация египтянина*/
#egyptian {
	display: -webkit-box;
    width: 70px;
    height: 70px;
    /*left: 550px;*/
    left: 28px;
    top: 450px;
    position: absolute;
    animation-name: egyptian;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
}
/*стили для картинки египтянина*/
#egyptian img {
	width: 100%;
    height: 100%;
}
/*@keyframes правила для египтянина*/
@keyframes egyptian {
	/*0%   {left:550px; top:460px;}
  	50%  {left:740px; top:460px;}
  	100%  {left:550px; top:460px;}*/
  	0%   {left:28px; top:450px;}
  	50%  {left:740px; top:450px;}
  	100%  {left:28px; top:450px;}
}
/*стили для кнопки start*/
#start-bttn {
    border: 20px solid red;
    display: block;
    padding: 20px;
    font-size: 60px;
    border-radius: 50%;
    font-family: Algerian;
    font-weight: bold;
    text-align: center;
    color: #fff10f;
    background: url(../images/buttonStart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 340px;
    height: 340px;
    vertical-align: center;
    position: absolute;
    top: 30px;
    right: 30px;
    box-shadow: 0 9px #yellow;
    outline: none;
    text-shadow: 0 6px black;

}
/*стили при наведении мышки на кнопку start*/
#start-bttn:hover {
	border: 10px solid yellow;
	color: red;
}
/*стили при нажатии на кнопку start*/
#start-bttn:active {
	box-shadow: 0 5px #yellow;
  	transform: translateY(4px);
}

 /* Блок выбора уровня игры */
#container-levels {
	float: left;
	height: 100%;
	width: 50%;
	top: 36px;
	left: 26px;
	position: absolute;
}
/*стили для кнопок выбора уровня*/
#container-levels button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 34px;
	background: #008B8B;
	color: #ffeb3b;
	font-family: Algerian;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	outline: none;
	border-radius: 30px;
	border: 7px solid yellow;
	width: 210px;
	margin-bottom: 25px; 
}
/*стили при наведении мышки на кнопку выбора уровня*/
#container-levels button:hover {
	border: 7px solid green;
}

/*стили при нажатии на кнопку выбора уровня*/
#container-levels button.active {
	box-shadow: 0 5px #yellow;
  	transform: translateY(4px);

}
/*стили для текста названия игры*/
#title-text {
    position: absolute;
    top: 450px;
    left: 28px;
    font-size: 70px;
    font-family: Algerian;
    color: #28bd36;
    text-shadow: 0 3px #fff10f;
}

#muteStart-bttn {
	position: absolute;
	display: block;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	background-repeat: none;
	top: 9px;
	left: 727px;
	width: 59px;
	height: 59px;
	border: 4px solid yellow
}

#muteStart-bttn:hover {
	border: 2px solid yellow;
	color: red;
}
/*стили при нажатии на кнопку start*/
#muteStart-bttn:active {
	box-shadow: 0 5px #yellow;
  	transform: translateY(4px);
}


/*=============================
        Игровое поле
=============================*/
/*стили для кнопки вкл/выкл музыки*/
#mute-bttn {
	position: absolute;
	display: block;
	border-radius: 50%;
	/*background-image: url(../images/notaMute.png);*/
	background-size: cover;
	background-position: center center;
	background-repeat: none;
	top: 15px;
	left: 359px;
	width: 40px;
	height: 40px;

}
/*общие стили при создании enemy*/
.enemy {
	width: 150px;
	height: 150px;
	position: absolute;
	transition: all 0s;
	cursor: crosshair;
	user-select: none;
}
/*стили для картинки enemy*/
.enemy img {
	background: none;
	width: 100%;
	height: 100%;
}
/*стили для enemy слева*/
.left {
	left: -200px;
}
/*стили для enemy справа*/
.right {	
	left: 810px;
}
/*стили для enemy на переднем плане*/
.enemy[title="foreStage"] {
	top: 430px;
}
/*стили для enemy на среднем плане*/
.enemy[title="middleStage"] {
	top: 220px;
	left: -350px;
	width: 250px;
	height: 250px;
}
/*стили для enemy на заднем плане*/
.enemy[title="backStage"] {
	top: 100px;
}
/*стили для очков*/
#stars {
	font-size: 34px;
	color: yellow;
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 15px;
	
}

/* Общий блок стрел */
#arrows-block {
	border-radius: 10px;
    height: 95px;	
    position: absolute;
    top: 500px;
    left: 560px;
    display: block;

}
/*стили для одной стрелы*/
#arrows-block span {
	height: 100%;
    width: 30px;
    display: inline-block;
    background: url(../images/unitarrow.png);
    background-repeat: no-repeat;
    float: right;
}

/*Окошко с указанием как перезаряжаться */
#instruction {
	display: block;
	position: absolute;
	top: 60px;
	left: 190px;
	color: red;
	padding: 10px;
	font-size: 24px;
	font-weight: 900;
	font-family: Algerian;
	text-shadow: 0 1px yellow;
}

/*стили для таймера*/
#my-timer {
	color: yellow; 
	font-size: 34px; 
	font-weight: bold;
	font-family: 'Algerian';
	position: absolute;
	top: 10px;
	left: 690px;
}
/*стили для текста таймера*/
h2 {
	
	float: left;
	margin: 0px 15px 0px 278px;
}

/*=============================
    Страница окончания игры
=============================*/
/*общие стиля для страницы окончания игры*/
#end-game {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/endBackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: right;
	color: red;
	text-align: center;
	font-size: 30px;
	font-family: Algerian;
}
/*стили для заголовка h1 страницы*/
#end-game h1 {
	color: red;
    top: -35px;
    left: 212px;
    position: absolute;
}
/*стили для заголовка h2 страницы*/
#end-game h2 {
	color: red;
    position: absolute;
    top: 123px;
    left: -258px;
}
/*стили для заголовка h3 страницы*/
#end-game h3 {
	color: red;
    position: absolute;
    top: 162px;
    left: 21px;
}
/*стили для кнопки на странице*/
#bttn {
	position: absolute;
    top: 508px;
    left: 277px;
    font-size: 26px;
    background: green;
    color: #00ff54;
    display: block;
    border: 5px solid #a5d754;
    border-radius: 10px;
    font-family: Algerian;
    padding: 7px;
    cursor: pointer;
    /*box-shadow: 0 9px #a5d754;*/
}
/*стили при наведении мышки на кнопку*/
#bttn:hover {
	border: 5px solid yellow;
}
/*стили при нажатии на кнопку*/
#bttn:active {
	border: 5px solid yellow;
	/*box-shadow: 0 9px #a5d754;*/
	transform: translateY(4px);
}


